<div class='logo'>
<h1>Time Tracker</h1>
</div>
<ul class="custom-navbar nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: "nav-link #{ active?(root_path) }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Time Entries', posts_path, class: "nav-link #{ active?(posts_path) }" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Add New Time Entry', new_post_path, class: "nav-link #{ active?(new_post_path) }", id: 'new_post_from_nav' %>
  </li>
  <li class="nav-item dropdown ms-auto">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
    </ul>
  </li>
</ul>